@model CheckToAim.Models.CheckList

@{
    ViewBag.Title = "CheckList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<style>
    p{
        color:darkslategrey;
    }
</style>
</head>
<body>
    @if (ViewBag.Message == null)
    {
        <h2>@ViewBag.CheckList.Name</h2><a>@ViewBag.CheckList.Theme.ThemeName</a>
        <h3>@ViewBag.CheckList.Description</h3>
        <p>Creator: @ViewBag.CheckList.Creator.Username</p>
        <p>Date: @ViewBag.CheckList.CreationDate</p>
        <hr />
        <div>
            <ul class="aimslist">
                @for (int i = 0; i < ViewBag.Aims_count; i++)
                {
                    <li>@ViewBag.CheckList.Aims.Split((char)007)[i]</li>
                }
            </ul>
        </div>
    }
    else
            {
                <h1>@ViewBag.Message</h1>
            }

</body>





